{% extends "base.html" %}
{% load staticfiles %}
{% load has_group %}
{% block title %}Welcome{% endblock %}
{% block content %}
<div>
  Hello,
{% if user.is_authenticated %}
{% if user.is_superuser or user.perms.auth.change_user or user|has_group:"Admin" %}
  Administrator {{ user.username }}
  <div>
    <a href="{% url 'api:api-root' %}">API</a>
  </div>
  <div>
    <a href="{% url 'api:user-list' %}">USERS API</a>
  </div>
  <div>
  </div>
{% else %}
  Member {{ user.username }}
{% endif %}

{% else %}
 stranger. <a href="{% url 'create-normal-user' %}"> Register here</a>
{% endif %}
 </div>
{% endblock %}
