{% extends "rest_framework/base.html" %}
{% load staticfiles %}
{% block title %}{% endblock %}
{% block bootstrap_theme %}
          <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/bootstrap.min.css" %}"/>
          <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/bootstrap-tweaks.css" %}"/>
{% endblock %}

{% block branding %}
<a class="navbar-brand" rel="nofollow" href="/">
Django App
</a>
{% endblock %}


{% block bootstrap_navbar_variant %}{% endblock %}
