{% extends "rest_framework/login_base.html" %}
{% load staticfiles %}
{% block title %}Login{% endblock %}
{% block bootstrap_theme %}
          <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/bootstrap.min.css" %}"/>
          <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/bootstrap-tweaks.css" %}"/>
{% endblock %}

{% block branding %}
<div class="text-center">

</div>
<!-- rest_framework -->
{% endblock %}
