{% extends "rest_framework/login_base.html" %}
{% load staticfiles %}
{% block title %}Login{% endblock %}
{% block bootstrap_theme %}
{% endblock %}

{% block branding %}
<div class="text-center">
  <span class="label label-primary" style="font-size:20px;">Django App</span>
  <br>
  <br>
</div>
<!-- registration -->
{% endblock %}
