{% extends "base.html" %}
{% block header_styles %}
<style>
    div.err, ul.errorlist {
        margin-right: 5em;
        padding: 0.5em;
        border-left: solid #990000 3px;
        color: #990000;
    }
</style>
{% endblock %}
{% block title  %}
Sign Up
{% endblock %}
{% block content %}
  <h3>Create New Account</h3>
  <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-primary" type="submit" value="Submit">
  </form>
{% endblock %}
{% block footer_js %}
{% endblock  %}
