{% extends "base.html" %}
{% block title  %}
Success
{% endblock %}
{% block content %}
<div class="container-fluid" style="margin: 5%">
  <div class="panel panel-success">
    <div class="panel-heading">
      {% block message_head %}
      Success
      {% endblock %}
    </div>
    <div class="panel-body text-center">
      {% block message %}
      Action successful. <br>
      <br>
      You may <a href="{% url 'login' %}">Log in</a>.
      {% endblock %}
    </div>
  </div>
</div>

{% endblock %}
