{% load rest_framework %}
{% load staticfiles %}

{# {% load has_group %} needs to go in all of the child templates :/ correct Djanog behavior ... #}
{# This the base for the various user interfaces #}
<!DOCTYPE html>
<html lang="en">
    <head>
<style type="text/css">
html,body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#holder {
  min-width: 100%
}
/* navbar */
.navbar-collapse.collapsing {
  -webkit-transition: height 0.01s;
  -moz-transition: height 0.01s;
  -ms-transition: height 0.01s;
  -o-transition: height 0.01s;
  transition: height 0.01s;
}

/* horizontal navbar */
.active-major,
.active-major > span {
  background-color: #FFF  !important;
  color: #333;
}
.major {
  padding: 0.5em;
  display: inline-block;
  width: 19%;
  /*background-color: #2c3e50;*/
  background-color: #eee;
  color: #2c3e50;
}
@media (max-width: 600px) {
  .nav-label-desktop, .desktop {
    display: none;
  }
}
/* dont show if at least 600px */
@media (min-width: 600px) {
  .nav-label-mobile, .mobile {
    display: none;
  }
}
ul.nav  {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav > li {
  float: left;
  margin-right: 1em;
}
</style>
    {% block header_styles %}
    {% endblock %}

    <title>
      {% block title  %}

      {% endblock %}
    </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    {% block header_js %}
    {% endblock %}
</head>
<body>
  <div id="holder">
    {% block nav %}
    <ul class="nav">
        {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Log out {{ user.username }}</a></li>
          <!-- </noscript>-->
        {% else %}
        <li><a href="{% url 'login' %}">Log in</a></li>

        <li><a href="{% url 'rest_framework:login' %}?next={% url 'api:api-root' %}">API Auth Log in</a></li>


        {% endif %}
    </ul>
    <br>
    <hr>
    {% endblock %}

    {% block content %}

    {% endblock %}
    {% block footer_js %}

    {% endblock %}
     </div> <!-- holder -->
</body>
</html>
